h1 {
	font-color:white;
	color: white;
	text-align: center;
}
header{
	background-image: url(backblue.jpg);
	margin: 0;
	padding: 40px 10px;
}
<style type="text/css">
  ul {list-style: none;padding: 0px;margin: 0px;}
  ul li {display: block;position: relative;float: left;border:1px solid #blue}
  li ul {display: none;}
  ul li a {display: block;background: #white;padding: 0px 10px 0px 10px;text-decoration: none;
           white-space: nowrap;color: #blue;}
  ul li a:hover {background: #999;}
  li:hover ul {display: block; position: absolute;}
  li:hover li {float: none;}
  li:hover a {background: #999;}
  li:hover li a:hover {background: blue;}
  #drop-nav li ul li {border-top: 0px;}
</style>
body{
	background-color: #cccccc;
	font-size: 14px;
	font-color:#000000;
	margin:0;
}
#wrapper{
	width: 800px;
	margin-left: auto;
	margin-right: auto;

}
#content{
	background-color: #cccccc;
	padding: 5px;
}
.post{
	background-color: #cccccc;
	padding: 5px;
	border: 1px solid #888;
	margin-bottom; 5px;
}
#header{
	background-color: #999;
	height: 80px;
	width: 100%;
	border: 1px solid #888;
}
table{
	text-align: center;
	table-layout: fixed;
}
.row{
	width: 10%;
}
form{
	width: 290px;
	margin:0 auto;
	text-align: center;

}
form div label{
	position:absolute;
	width: 250px;
	margin: 0 auto;
	text-align: center;
}	
.body{
	background-image: url(busblue.jpg);
	background-repeat: none;
	background-position: center;
	background-position: absolute;
	color: #555;
	margin: 0 auto;
	padding: 15px;
}
.body1{
	background-image: url(busblue1.jpg);
	background-position: center;
	background-size: 100%;
	margin: 0 auto;
	padding: 15px;
	height: 1000px;
}
table tr th{
	background-color: #888;
	margin: 0 auto;
	padding: 10px;
}
table tr td{
	background-color: #999;
	margin: 0 auto;
	padding: 10px;
}